@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yellowtail", cursive;
    letter-spacing: 2px;
}

nav {
    display: none;
}

nav.active {
    display: flex;
}

@media (width>=1024px) {
    nav a:hover {
        color: #9c6464;
        text-shadow: 1px 1px 3px #9b7878;
    }

    nav button:hover {
        color: #4ec0f4;
    }

    #seeMore:hover{
        background-color: #779d8b;
        box-shadow: 0 0 10px #779d8b;
    }
}
